## 1.2 파이썬의 변수  
1) 파이썬은 변수를 생성하지 않고 바로 사용할 수 없음.
2) 파이썬은 C언어와 JAVA 등 다른 언어와 다르게 변수 생성시 타입을 적지 않음.
3) 변수에 값이 할당될 때 변수의 타입이 결정됨.
4) 변수의 삭제

In [1]:
num #변수가 정의 되어 있지 않음

NameError: name 'num' is not defined

In [2]:
num1 = 100
str2 = '문자'
num3 = 3.14
num4 = 4+1j

In [3]:
print(type(num1))

<class 'int'>

In [4]:
print(type(str2))

<class 'str'>

In [5]:
print(type(num3))

<class 'float'>

In [6]:
print(type(num4))

<class 'complex'>

In [8]:
str5 = 'A' #아스키 65 (대문자+32)

In [9]:
print(type(str5))

<class 'str'>

In [10]:
num6 = 999
print(num6)

999

In [11]:
del num6 #삭제

In [12]:
print(num6)

NameError: name 'num6' is not defined

In [14]:
print(100+10) #소수점이 있으면 실수 없으면 정수

110

In [15]:
print(100+3.14) #자바에선 오류

103.14

In [16]:
print("1"+"1")

11

In [17]:
print("1"+2+0.3) #문자열과 정수형은 함께할 수 없음

TypeError: can only concatenate str (not "int") to str