In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('20230307_01.csv')

In [3]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [5]:
df.info()
#object : 일반 문자열
#float : 실수
#int : 정수
#category : 카테고리
#datatime : 시간

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [6]:
df['키'].dtype

dtype('float64')

In [7]:
df['키'].astype(int) #NaN 값이 포함되잇어서 오류

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
df['키']=df['키'].fillna(-1)

In [9]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [10]:
df['키'].astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7      -1
8     179
9     167
10     -1
11    183
12    175
13    176
14    174
Name: 키, dtype: int32

In [11]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [12]:
pd.to_datetime(df['생년월일'])

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

In [13]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [14]:
df['생년월일'] =pd.to_datetime(df['생년월일'])

In [15]:
df['생년월일']

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

In [16]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928

In [17]:
df['생년월일'].dt.dayofweek

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

In [18]:
df['생년월일'].dt.year

0     1995
1     1988
2     1996
3     1995
4     1995
5     1997
6     1995
7     1998
8     1992
9     1994
10    1989
11    1997
12    1995
13    1995
14    1993
Name: 생년월일, dtype: int64

In [20]:
df['생년월일'].dt.month

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [21]:
df['생년월일'].dt.day

0     13
1     18
2     10
3     30
4     23
5      1
6      9
7     26
8      4
9     22
10     9
11    30
12    21
13     8
14     9
Name: 생년월일, dtype: int64

In [23]:
df['생년월일'].dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [24]:
df['생년월일'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

dt.quarter : 분기(숫자)

dt.day_name() : 요일이름(문자)(=day_name())

dt.weekday : 요일숫자(0-월,1-화)(=dayofweek)

dt.weekofyear : 연 기준 몇주째(숫자)(=week)

dt.dayofyear : 연 기준 몇일째(숫자)

dt.days_in_month : 해당 월의 일수

In [25]:
df['생일_년'] = df['생년월일'].dt.year

In [26]:
df['생일_월'] = df['생년월일'].dt.month

In [27]:
df['생일_일'] = df['생년월일'].dt.day

In [28]:
df

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수  생일_년  생일_월  생일_일
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260  1995    10    13
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947  1988     8    18
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745  1996    12    10
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501  1995    12    30
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928  1995     7    23
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335  1997     9     1
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792  1995     8     9
7     소연    아이들       큐브  여자 1998-08-26   -1.0   B   4668615  1998     8    26
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308  1992    12     4
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489  1994     3    22
10    태연   소녀시대       SM  여자 1989-03-09   -1.0   A   3918661  1989     3     9
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027  1997     3    30
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654  1995     7    21
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137  1995     6     8
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442  1993     3     9